<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xmlns="http://xmlns.jcp.org/xml/ns/javaee"
		 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
		 id="WebApp_ID"
		 version="3.1">
  <display-name>JSP</display-name>
  <!-- 에러메세지 -->
  <error-page>
  	<exception-type>java.lang.ArithmeticException</exception-type>
  	<location>/WEB-INF/error/ArithmeticException.jsp</location>
  </error-page>
  <!-- 에러메세지 -->
  
  <!-- 에러메세지 -->
  <error-page>
  	<exception-type>java.lang.NumberFormatException</exception-type>
  	<location>/WEB-INF/error/NumberFormatError.jsp</location>
  </error-page>
  <!-- 에러메세지 -->
  
   <!-- 에러메세지 -->
  <error-page>
  	<error-code>404</error-code>
  	<location>/WEB-INF/error/NotFoundError.jsp</location>
  </error-page>
  <!-- 에러메세지 -->
  
  <!-- 에러메세지 -->
  <error-page>
  	<exception-type>java.lang.NullPointerException</exception-type>
  	<location>/WEB-INF/error/NullPointError.jsp</location>
  </error-page>
  <!-- 에러메세지 -->
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <context-param>
  	<description>DB이름</description>
  	<param-name>DB_NAME</param-name>
  	<param-value>namedb</param-value>
  </context-param>
  <context-param>
  	<description>Jsp 개발툴</description>
  	<param-name>Tool_NAME</param-name>
  	<param-value>malldb</param-value>
  </context-param>
  
  <servlet>
  	<servlet-name>hundred-Servlet</servlet-name>
  	<servlet-class>HundredServlet</servlet-class>	
  </servlet>
  <servlet-mapping>
    <servlet-name>hundred-Servlet</servlet-name>
  	<url-pattern>/hundred</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>adder-Servlet</servlet-name>
  	<servlet-class>AdderServlet</servlet-class>	
  </servlet>
  <servlet-mapping>
  	<servlet-name>adder-Servlet</servlet-name>
  	<url-pattern>/adder</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>BBSPost-Servlet</servlet-name>
  	<servlet-class>BBSPostServlet</servlet-class>	
  </servlet>
  <servlet-mapping>
  	<servlet-name>BBSPost-Servlet</servlet-name>
  	<url-pattern>/bbs-post</url-pattern>
  </servlet-mapping>
  
   <servlet>
  	<servlet-name>Personal-Servlet</servlet-name>
  	<servlet-class>PersonalInfoServlet</servlet-class>	
  </servlet>
  <servlet-mapping>
  	<servlet-name>Personal-Servlet</servlet-name>
  	<url-pattern>/pinfo-result</url-pattern>
  </servlet-mapping>
  
   <servlet>
  	<servlet-name>Fibonacci-Servlet</servlet-name>
  	<servlet-class>FibonacciServlet</servlet-class>	
  </servlet>
  <servlet-mapping>
  	<servlet-name>Fibonacci-Servlet</servlet-name>
  	<url-pattern>/Fibonacci</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>Ptest-Servlet</servlet-name>
  	<servlet-class>PtestServlet</servlet-class>	
  </servlet>
  <servlet-mapping>
  	<servlet-name>Ptest-Servlet</servlet-name>
  	<url-pattern>/ptest</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>Winners-Servlet</servlet-name>
  	<servlet-class>WinnersServlet</servlet-class>	
  </servlet>
  <servlet-mapping>
  	<servlet-name>Winners-Servlet</servlet-name>
  	<url-pattern>/winners</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>Animal-Servlet</servlet-name>
  	<servlet-class>AnimalServlet</servlet-class>	
  </servlet>
  <servlet-mapping>
  	<servlet-name>Animal-Servlet</servlet-name>
  	<url-pattern>/animal</url-pattern>
  </servlet-mapping>
     <servlet>
  	<servlet-name>result-Servlet</servlet-name>
  	<servlet-class>ResultServlet</servlet-class>	
  </servlet>
  <servlet-mapping>
  	<servlet-name>result-Servlet</servlet-name>
  	<url-pattern>/result</url-pattern>
  </servlet-mapping>
  
   <servlet>
  	<servlet-name>Divider-Servlet</servlet-name>
  	<servlet-class>chap05.DividerServlet</servlet-class>	
  </servlet>
  <servlet-mapping>
  	<servlet-name>Divider-Servlet</servlet-name>
  	<url-pattern>/divider</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>Greeting-Servlet</servlet-name>
  	<servlet-class>chap06.GreetingServlet</servlet-class>	
  	<init-param>
  		<param-name>FILE_NAME</param-name>
  		<!-- 
  		<param-value>D:\\wokspace\\data\\log2.txt</param-value>
  		 -->
  		 <param-value>/../WEB-INF</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Greeting-Servlet</servlet-name>
  	<url-pattern>/chap06/greeting</url-pattern>
  </servlet-mapping>
  
   <servlet>
  	<servlet-name>menu-Jsp(ex6-302p)</servlet-name>
  	<jsp-file>/Menu.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>menu-Jsp(ex6-302p)</servlet-name>
  	<url-pattern>/menu</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>dbName(ex6-304p)</servlet-name>
  	<jsp-file>/chap06/dbName.jsp</jsp-file>	
  	<init-param>
  		<param-name>DB_NAME</param-name>
  		<param-value>malldb</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>dbName(ex6-304p)</servlet-name>
  	<url-pattern>/chap06/dbName</url-pattern>
  </servlet-mapping>
  
    <servlet>
  <servlet-name>ServerInfoServlet(ex6-308p)</servlet-name>
  	<servlet-class>chap06.ServerInfoServlet</servlet-class>
  	
  </servlet>
  <servlet-mapping>
  	<servlet-name>ServerInfoServlet(ex6-308p)</servlet-name>
  	<url-pattern>/ServerInfoServlet</url-pattern>
  </servlet-mapping>
  <!-- 
    <servlet>
  	<servlet-name>Greeting2-Servlet</servlet-name>
  	<servlet-class>chap06.GreetingServlet2</servlet-class>	
  	<init-param>
  		<param-name>FILE_NAME</param-name>

  		 <param-value>/../WEB-INF</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Greeting2-Servlet</servlet-name>
  	<url-pattern>/chap06/greeting</url-pattern>
  </servlet-mapping>
  -->
  <jsp-config>
  	<taglib>
  		<taglib-uri>http://localhost:8080/JSP/chap07/math-function.tld</taglib-uri>
  		<taglib-location>/WEB-INF/math-function.tld</taglib-location>
 	</taglib>
  </jsp-config>
  
  <servlet>
  	<servlet-name>PersonInfo-Servlet</servlet-name>
  	<servlet-class>chap08.PersonalInoServlet</servlet-class>	
  </servlet>
  <servlet-mapping>
  	<servlet-name>PersonInfo-Servlet</servlet-name>
  	<url-pattern>/pinfo</url-pattern>
  </servlet-mapping>
</web-app>